<!DOCTYPE html> 
<html> 
<head>
<meta charset="UTF-8"> 
<title></title> 

</head> 
<body>

<div class="content">

<DIV class="title">비번입력</DIV>
<FORM name='frm' method='POST' action='delete'>

  <TABLE>
    <TR>
      <TH>패스워드</TH>
      <TD><input type="password" name="passwd" placeholder="비번을 입력하세요" required></TD>
    </TR>
  </TABLE>
  
  <DIV class='bottom'>
    <input type='submit' value='삭제'>
    <input type='button' value='목록'>
  </DIV>
</FORM>
 </div>

</body>
</html> 