<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/style.css" rel="Stylesheet" type="text/css">
</head>
<body>
<FORM name='frm' method='POST' 
		action='./email_proc'
		>
  <TABLE>
    <TR>
      <TH>이메일</TH>
      <TD><input type="text" name="email" size="20" required></TD>
    </TR>
  </TABLE>
  
  <DIV class='bottom'>
    <input type='submit' value='중복확인'>
    <input type='button' value='취소' onclick="window.close()">  
    <!-- window.close() 현재 열린 창이 닫히게(새창에서 주로 많이 쓴다.) -->
  </DIV>
</FORM>
</body>
</html>