<!DOCTYPE html> 
<html> 
<head> 
<meta charset="UTF-8"> 
<title></title> 
</head> 
<body>
 
<DIV>비밀번호 변경</DIV>
<div>
안전한 비밀번호로 내정보를 보호하세요<br>
다른 아이디/사이트에서 사용한 적 없는 비밀번호,<br>
이전에 사용한 적 없는 비밀번호가 안전합니다.<br>
</div>

<FORM name='frm' method='POST' action='./updatePasswdProc'>
<input type="hidden" name="id" value="${param.id }">
  <TABLE border="1">
    <TR>
      <TH>현재 비밀번호</TH>
      <TD><input type="password" name="oldpasswd"/></TD>
    </TR>

     <TR>
      <TH>새 비밀번호</TH>
      <TD><input type="password" name="newpasswd1"/></TD>
    </TR>
     <TR>
      <TH>비밀번호 확인</TH>
      <TD><input type="password" name="newpasswd2"/></TD>
    </TR>
  </TABLE>
  
  <DIV>
    <input type='button' value='확인' onclick="incheck()">
    <input type='button' value='취소' onclick="history.back()">
  </DIV>
</FORM>
 
</body>
</html> 