<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>지금 가입 | Main</title>

<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style type="text/css">
	#rc{
		text-align: center;
		margin: auto;
	}
</style>
<script>

	$(function() {

		$("#slider-range").slider({
			range : true,
			min : 0,
			max : 24,
			values : [ 9, 17 ],
			slide : function(event, ui) {
				if(ui.values[0]==ui.values[1]){
					$("#s_time").val("휴일");
				}else{
					$("#s_time").val( ui.values[0]+" : 00" + " ~ " + ui.values[1]+" : 00");
				}
				}
		});
		$("#s_time").val( $("#slider-range").slider("values", 0) +
			" : 00 ~ " + $("#slider-range").slider("values", 1) +" : 00");
	
		$("#slider-range2").slider({
			range : true,
			min : 0,
			max : 24,
			values : [ 9, 17 ],
			slide : function(event, ui) {
				if(ui.values[0]==ui.values[1]){
					$("#s_time2").val("휴일");
				}else{
					$("#s_time2").val( ui.values[0]+" : 00" + " ~ " + ui.values[1]+" : 00");
				}
				}
		});
		$("#s_time2").val( $("#slider-range2").slider("values", 0) +
			" : 00 ~ " + $("#slider-range2").slider("values", 1) +" : 00");
		
		$("#slider-range3").slider({
			range : true,
			min : 0,
			max : 24,
			values : [ 9, 17 ],
			slide : function(event, ui) {
				if(ui.values[0]==ui.values[1]){
					$("#s_time3").val("휴일");
				}else{
					$("#s_time3").val( ui.values[0]+" : 00" + " ~ " + ui.values[1]+" : 00");
				}
				}
		});
		$("#s_time3").val( $("#slider-range3").slider("values", 0) +
			" : 00 ~ " + $("#slider-range3").slider("values", 1) +" : 00");
		
		$("#slider-range4").slider({
			range : true,
			min : 0,
			max : 24,
			values : [ 9, 17 ],
			slide : function(event, ui) {
				if(ui.values[0]==ui.values[1]){
					$("#s_time4").val("휴일");
				}else{
					$("#s_time4").val( ui.values[0]+" : 00" + " ~ " + ui.values[1]+" : 00");
				}
				}
		});
		$("#s_time4").val( $("#slider-range4").slider("values", 0) +
			" : 00 ~ " + $("#slider-range4").slider("values", 1) +" : 00");
		
		$("#slider-range5").slider({
			range : true,
			min : 0,
			max : 24,
			values : [ 9, 17 ],
			slide : function(event, ui) {
				if(ui.values[0]==ui.values[1]){
					$("#s_time5").val("휴일");
				}else{
					$("#s_time5").val( ui.values[0]+" : 00" + " ~ " + ui.values[1]+" : 00");
				}
				}
		});
		$("#s_time5").val( $("#slider-range5").slider("values", 0) +
			" : 00 ~ " + $("#slider-range5").slider("values", 1) +" : 00");
		
		$("#slider-range6").slider({
			range : true,
			min : 0,
			max : 24,
			values : [ 9, 17 ],
			slide : function(event, ui) {
				if(ui.values[0]==ui.values[1]){
					$("#s_time6").val("휴일");
				}else{
					$("#s_time6").val( ui.values[0]+" : 00" + " ~ " + ui.values[1]+" : 00");
				}
				}
		});
		$("#s_time6").val( $("#slider-range6").slider("values", 0) +
			" : 00 ~ " + $("#slider-range6").slider("values", 1) +" : 00");
		
		$("#slider-range7").slider({
			range : true,
			min : 0,
			max : 24,
			values : [ 9, 17 ],
			slide : function(event, ui) {
				if(ui.values[0]==ui.values[1]){
					$("#s_time7").val("휴일");
				}else{
					$("#s_time7").val( ui.values[0]+" : 00" + " ~ " + ui.values[1]+" : 00");
				}
				}
		});
		$("#s_time7").val( $("#slider-range7").slider("values", 0) +
			" : 00 ~ " + $("#slider-range7").slider("values", 1) +" : 00");
	
	});
	
</script>

<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div style="text-align: center;margin: auto;">
	<form class='content'>
		<h1>회사를 등록하십시오</h1>
		<h4>기본 정보, 나중에 추가할 수 있습니다</h4>

		<h6>회사ID</h6>
		<input type="text" id="s_ID"> <br>

		<h6>이메일</h6>
		<input type="text" id="s_Email"> <br>

		<h6>전화번호</h6>
		<input type="text" id="s_Phone" value="+82"> <br>

		<h6>비지니스 카테고리를 선택하십시오</h6>
		<select>
			<option value="restaurant">레스토랑
			<option value="hospital">병원
			<option value="studycafe">스터디카페
			<option value="beauty">뷰티
		</select> <br>


		<h6>회사위치</h6>
		<input type="text" id="s_location"> <br>

		<h6>회사명</h6>
		<input type="text" id="s_Name"> <br>

		<h6>간략한 설명을 입력하십시오.</h6>
		<textarea rows="20" cols="20"></textarea>
		<br>

				
  			<label for="s_time">월요일 영업시간:</label>
  			<input type="text" id="s_time" readonly style="border:0; color:#f6931f; font-weight:bold;">
		
		<div id="slider-range" style="width:30%;text-align: center;margin: auto;"></div>
		
		<label for="s_time2">화요일 영업시간:</label>
  			<input type="text" id="s_time2" readonly style="border:0; color:#f6931f; font-weight:bold;">
		
		<div id="slider-range2" style="width:30%;text-align: center;margin: auto;"></div>
 		
 		<label for="s_time3">수요일 영업시간:</label>
  			<input type="text" id="s_time3" readonly style="border:0; color:#f6931f; font-weight:bold;">
		
		<div id="slider-range3" style="width:30%;text-align: center;margin: auto;"></div>
		
		<label for="s_time4">목요일 영업시간:</label>
  			<input type="text" id="s_time4" readonly style="border:0; color:#f6931f; font-weight:bold;">
		
		<div id="slider-range4" style="width:30%;text-align: center;margin: auto;"></div>
		
		<label for="s_time5">금요일 영업시간:</label>
  			<input type="text" id="s_time5" readonly style="border:0; color:#f6931f; font-weight:bold;">
		
		<div id="slider-range5" style="width:30%;text-align: center;margin: auto;"></div>
		
		<label for="s_time6">토요일 영업시간:</label>
  			<input type="text" id="s_time6" readonly style="border:0; color:#f6931f; font-weight:bold;">
		
		<div id="slider-range6" style="width:30%;text-align: center;margin: auto;"></div>
		
		<label for="s_time7">일요일 영업시간:</label>
  			<input type="text" id="s_time7" readonly style="border:0; color:#f6931f; font-weight:bold;">
		
		<div id="slider-range7" style="width:30%;text-align: center;margin: auto;"></div>
		<center>
		<div class="g-recaptcha"  data-sitekey="6Ld1rVUUAAAAAB2nvuPJCRM-aQ7Ef4pWGqsoN-wk"></div>
		</center>
		<button>지금 가입하세요!</button>
	</form>
	</div>
</body>
</html>