<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	table{
	width: 100%;
	}
	table,th,td{
	
	border: 1px solid black;
	border-collapse: collapse;
	}
	th{
	background-color: #A4A4A4;
	}
</style>
</head>
<body>
<h3 style="text-align: center;">판매회원 목록</h3>
<form style="text-align: center;margin: auto;">
<select id="col">
			<option value="A01">판매자번호
			<option value="A02">비지니스카테고리
			<option value="A03">회사ID
			<option value="A04">회사명
		</select>
<input type="search" id="word"><button type="button">검색</button>
</form>
<br><br>
<table>
	<tr>
		<th>판매자번호</th>
		<th>비지니스카테고리</th>
		<th>회사ID</th>
		<th>회사명</th>
	</tr>
	<tr>
		<td>2</td>
		<td><a href="#">레스토랑</a></td>
		<td><a href="#">MomsTouch</a></td>
		<td><a href="#">Mom's Touch</a></td>
	</tr>
	<tr>
		<td>1</td>
		<td><a href="#">병원</a></td>
		<td><a href="#">JSH</a></td>
		<td><a href="#">JinSick</a></td>
	</tr>
</table>
</body>
</html>